@model IEnumerable<oriflameFinal.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}


@section scripts {
<script type="text/javascript">
$(document).ready(function() {
        $('#pruebaMyTable').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
}

<p>
    
    <input type="button" class="btn btn-outline-success" value="Create" onclick="location.href='@Url.Action("Create", "Departamento")'" />
</p>
    <table class="table table-hover display nowrap" id="pruebaMyTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
               
              @if(item.Estado.Trim() == "ACT")
              {
                 <span class="badge bg-primary">ACTIVO</span>
              }
              else
              {
                  <span class="badge bg-danger">INACTIVO</span>
              }

               
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Editar</a>    
            </td>
        </tr>
}
    </tbody>
</table>

